{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/datepicker.css' %}" rel="stylesheet" media="screen">
<style>
html,body {
    padding-top: 15px;
}
.datepicker {z-index : 1501;}
i:hover .the-icons {
    background-color: rgba(255, 0, 0, 0.25);
    cursor: pointer;
}
</style>
{% endblock %}

{% block js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

{% verbatim %}
<script id="modelListTmp" type="text/html">
<div class="span12 white-well">
    <p>Модели: </p>
    <ul class="unstyled">
        {{#data}}
            <li><a class="model-filter" href="#" model="{{name}}">{{title}}</a></li>
        {{/data}}
    </ul>
</div>    
</script>
<script id="tableTmp" type="text/html">
<p class="lead">{{title}} <button class="btn btn-primary pull-right" type="button" href="#AddItemModal" role="button" data-toggle="modal">Добавить</button>
</p>
<form action="/model/{{name}}/edit/" id="edit-form" current-edit="">  
<input type="hidden" name="id" value="" id="edit-form-model-id">
<table class="table table-bordered table-hover" id="model-data-table">
    <thead style="background:#ffffff;">
        <tr>
            {{#fields}}
                <th id="base-{{name}}" type="{{type}}">{{title}}</th>
            {{/fields}}
        </tr>
        {{#values}}
            <tr>
                {{#fields}}
                    <td field-name="{{name}}" model-id="{{id}}" id="field-{{name}}-{{id}}" class="td-off"><span class="value">{{value}}</span><span class="input" style="position:absolute; margin-top:-5px; margin-left:-5px;"></span></td>
                {{/fields}}
            </tr>       
        {{/values}}
    </thead>
</table>
</form>
</script>

<script id="modalTmp" type="text/html">
<div id="AddItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddItemModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="AddItemModalLabel">Добавить</h3>
    </div>
    <form class="form-horizontal" action="/model/{{name}}/add/" id="add-form" method="get">
        <div class="modal-body">
            <div id="form-field"></div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <input type="submit" form="add-form" value="Добавить" class="btn btn-primary">
        </div>
    </form>
</div>
</script>

<script id="addFormTmp" type="text/html">
<div class="control-group">
    <label class="control-label" for="{{field.name}}" class="error" generated="true">{{field.title}}</label>
    <div class="controls">
        {{{input}}}
    </div>
</div>
</script>
{% endverbatim %}

{% endblock %}

{% block title %}Smyt{% endblock %}


{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="span2" id="model-list-block">        
        </div>
        <div class="span10" id="table-block" curent-model="">
        </div>
    </div>
</div>

<div id="modal-block"></div>

<script type="text/javascript">
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var output_date = (day<10 ? '0' : '') + day+ '.' +
    (month<10 ? '0' : '') + month + '.' +
    d.getFullYear();

    $.validator.addMethod(
        'australianDate',
        function (value, element) {
            return value.match( /^\d\d?\.\d\d?\.\d\d\d\d$/);
        },
        'Пожалуйста, введите дату вида dd.mm.yyyy.'
    );

    $.extend($.validator.messages, {
        required: 'Пожалуйста, заполните это поле',
        number: 'Пожалуйста, введите телько цыфры'
    });

    $.validator.addClassRules({
        fchar: {
            required: true
        },
        fint: {
            required: true,
            number: true    
        },
        fdate: {
            required: true,
            australianDate: true                
        }
    });
    
    $('form').validate();


    function load_model_list(){
        $.ajax({
            type: 'GET',
            url: '/model/list/',
            success: function(json){
                tmp = ich.modelListTmp(json);
                $(tmp).appendTo('#model-list-block');
            }
        });
    }

    function load_model_data() {
        model = $('#table-block').attr('curent-model');
        block = $('#table-block');
        modal = $('#modal-block');
        block.html('Идет загрузка, пожалуйста подождите');
        $.ajax({
            type: 'GET',
            url: '/model/' + model + '/',
            success: function(json){
                block.html('');                
                modal.html('');
                $(ich.tableTmp(json)).appendTo(block);
                $(ich.modalTmp(json)).appendTo(modal);               
                create_add_form(json.fields);
            }
        });
    }

    function create_add_form(fields){
        block = $('#form-field');
        block.html('');
        for (var i = 0; i < fields.length; i++) {
            field = fields[i];
            if (field.name == 'id') {continue;}
            input = ''
            if (field.type == 'date') {
                input = '<div data-date-format="dd.mm.yyyy" data-date="' + output_date + '" class="input-append date add-form-dp">';
                input += '<input type="text" class="f'+ field.type + '" name="' + field.name + '" value="' + output_date + '" size="16">';
                input += '<span class="add-on"><i class="icon-calendar"></i></span>';
                input += '</div>';
            } else {
                input = '<input type="text" class="f'+ field.type + '" name="' + field.name + '" value="">';
            }
            out = {
                'field': field,
                'input': input,
            }
            $(ich.addFormTmp(out)).appendTo(block);
        }
        $('.add-form-dp').datepicker().on('changeDate', function(ev){
            $(this).datepicker('hide');
        });
    }

    $(document.body).on('click','.model-filter', function() {
        $('#table-block').attr('curent-model', $(this).attr('model'));
        load_model_data($(this).attr('model'));
    });


    $(document.body).on('submit', '#add-form', function () {
        if($(this).valid() == false){
            return false;
        }
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function(json){
               load_model_data();
            }
        });
        $('#AddItemModal').modal('hide');
        return false ;
    });


    $(document.body).on('click', '.td-off', function() {            
        $('.td-on').find('.value').show()
        $('.td-on').find('.input').html('');
        $('.td-on').addClass('td-off').removeClass('td-on');
        $(this).addClass('td-on').removeClass('td-off');
        $('#edit-form').attr('current-edit', $(this).attr('id'));
        input_block = $(this).find('.input');
        input_block.html('');
        value_block = $(this).find('.value');
        value = value_block.html();
        name = $(this).attr('field-name');
        id = $(this).attr('model-id');
        if (name == 'id') {
            return false;
        }
        $('#edit-form-model-id').val(id);
        type = $('th#base-'+name).attr('type');
        input = '' 
        if (type == 'date') {
            input += '<div data-date-format="dd.mm.yyyy" data-date="' + value + '" class="input-append date" id="edit-dp">';
            input += '<input type="text" class="f'+ type + ' field-edit-form" name="' + name + '" value="' + value +'" size="16">';
            input += '<span class="add-on"><i class="icon-calendar"></i></span>';
            input += '</div>';
        } else {
            input += '<input type="text" class="f'+ type + ' field-edit-form" name="' + name + '" value="' + value + '">';
        }
        value_block.hide();
        $(input).appendTo(input_block);
        if (type == 'date') {
            $('#edit-dp').datepicker().on('changeDate', function(ev){
                $(this).datepicker('hide');
                $('#edit-form').submit();
            }); 
        }           
    });

    $(document.body).on('change', '.field-edit-form', function() {
        $('#edit-form').valid();  
    });  

    $(document.body).on('submit', '#edit-form', function() {
        var form = $(this);
        if (form.valid() == false) {
            return false;
        }
        var td = $('#'+ form.attr('current-edit'));
        var value = td.find('.value');
        var input = td.find('.input');
        $.ajax({
            data: form.serialize(),
            type: form.attr('method'),
            url: form.attr('action'),
            success: function(){
                value.html(input.find('input').val());
            },
            complete: function() {
                value.show();
                input.html('');
                td.addClass('td-off');
                td.removeClass('td-on');
            }
        });
        return false;            
    });
    

    load_model_list();
    
</script>
{% endblock %}